TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=eui64
NAME=ens33
UUID=05d8c20e-9659-4356-b8dc-ac282157bad3
DEVICE=ens33
ONBOOT=yes
IPADDR={{ new_ip }}
PREFIX=24
GATEWAY=192.168.0.1
DNS1=192.168.0.200
DOMAIN=1.1.1.1
