CREATE ROLE {{ pg_cm_user }} LOGIN PASSWORD '{{pg_cm_pass }}';
CREATE DATABASE {{ pg_cm_db }} OWNER {{ pg_cm_user }} ENCODING 'UTF8';
CREATE ROLE {{ pg_rm_user }} LOGIN PASSWORD '{{pg_rm_pass }}';
CREATE DATABASE {{ pg_rm_db }} OWNER {{ pg_rm_user }} ENCODING 'UTF8';
CREATE ROLE {{ pg_hue_user }} LOGIN PASSWORD '{{pg_hue_pass }}';
CREATE DATABASE {{ pg_hue_db }} OWNER {{ pg_hue_user }} ENCODING 'UTF8';
CREATE ROLE {{ pg_hive_user }} LOGIN PASSWORD '{{pg_hive_pass }}';
CREATE DATABASE {{ pg_hive_db }} OWNER {{ pg_hive_user }} ENCODING 'UTF8';
CREATE ROLE {{ pg_oozie_user }} LOGIN PASSWORD '{{pg_oozie_pass }}';
CREATE DATABASE {{ pg_oozie_db }} OWNER {{ pg_oozie_user }} ENCODING 'UTF8';
CREATE ROLE {{ pg_das_user }} LOGIN PASSWORD '{{pg_das_pass }}';
CREATE DATABASE {{ pg_das_db }} OWNER {{ pg_das_user }} ENCODING 'UTF8';
CREATE ROLE {{ pg_sr_user }} LOGIN PASSWORD '{{pg_sr_pass }}';
CREATE DATABASE {{ pg_sr_db }} OWNER {{ pg_sr_user }} ENCODING 'UTF8';
CREATE ROLE {{ pg_smm_user }} LOGIN PASSWORD '{{pg_smm_pass }}';
CREATE DATABASE {{ pg_smm_db }} OWNER {{ pg_smm_user }} ENCODING 'UTF8';
